ai-new's-summarizer.json
{
  "updatedAt": "2026-03-02T11:56:18.072Z",
  "createdAt": "2026-03-02T11:35:38.082Z",
  "id": "OO2JgKHZw17oJ5Db",
  "name": "AI-New's-Summarizer",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "38803ae0-663c-42e0-83ea-d3f0d33ce6a6",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://aibusiness.com/rss.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        208,
        0
      ],
      "id": "2a7ceabd-f579-46db-987d-aed316d06d04",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "59e24ef9-d734-41ae-b21a-6499798274f1",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are a professional AI news editor.  \n\nTASK: Summarize the 6 most important AI-related news articles from the provided RSS data.  \n\n\nFORMAT RULES (STRICT): \n    -Output only the formatted newsletter content.\n    - Do NOT add introductions or explanations. \n    - Do NOT add commentary outside the format. \n    - Use clean email-friendly formatting.  \n\n\nSTRUCTURE:  [AI NEWS – TOP 6]\n\n\n\nFor each article:\n    HEADLINE (IN ALL CAPS)  2–3 sentence professional summary (clear, neutral, factual).  \n\nRead more: <Original Article Link>  Separate each article with a single blank line.\n\n\nSTYLE: - Professional and concise - No emojis - No hype language - No speculation - Use only information from the provided content"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        624,
        0
      ],
      "id": "2168d93a-6886-4727-9ea6-fe39de6cc0fd",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        560,
        208
      ],
      "id": "8ca12fd0-5c9c-4b46-96ee-554e4db9b5e0",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "b7ti3Ml6PYhM8b8r",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "aadimedicharla444@gmail.com",
        "subject": "Top 6 AI New's",
        "emailType": "text",
        "message": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        976,
        0
      ],
      "id": "c92e8dc4-6364-4d23-b3f3-54a3181de284",
      "name": "Send a message",
      "webhookId": "45f9f476-7f78-4652-9bbf-6c2fc2ef080a",
      "credentials": {
        "gmailOAuth2": {
          "id": "Z7M2rmfdOKslxcul",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "471c8389-8c09-45d4-a611-f258c36f19d2",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-02T11:35:38.088Z",
      "createdAt": "2026-03-02T11:35:38.088Z",
      "role": "workflow:owner",
      "workflowId": "OO2JgKHZw17oJ5Db",
      "projectId": "DaNoFjrZx0AVtr9d"
    }
  ],
  "activeVersion": null,
  "tags": []
}