ai-new's-summarizer-2.json
{
  "updatedAt": "2026-03-04T08:28:55.352Z",
  "createdAt": "2026-03-04T08:15:00.628Z",
  "id": "1MZpvujHQcO5nRKD",
  "name": "AI-New's-Summarizer 2",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        96
      ],
      "id": "e2c57e79-7d27-4733-892d-7b846f1a25bc",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://aibusiness.com/rss.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        224,
        0
      ],
      "id": "799fb1f7-f402-47e4-8134-d8e4cc2f8a49",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        672,
        96
      ],
      "id": "a6e3153d-8636-4ceb-84a6-3379b2129ca2",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are an AI newsletter assistant creating a daily intelligence report.\nAnalyze RSS feeds and event data to create:\n\nAI NEWS HIGHLIGHTS\n\n[5 most important AI developments]\n\nTECHNOLOGY UPDATES\n==================\n[Latest tech developments]\n\nUPCOMING AI EVENTS\n\n[List events with date, location, description]\nIf no events found: \"No AI events scheduled this week\"\n\nFormat each news item:\n- Headline in ALL CAPS\n- 2-3 sentence summary\n- Article link\n\nSign off as \"Your AI Intelligence Team\""
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        896,
        96
      ],
      "id": "ba4fa542-2b9c-4873-b932-669bd24699bf",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        968,
        320
      ],
      "id": "522d44e1-6be8-4afc-98ad-0c150d161258",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "b7ti3Ml6PYhM8b8r",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "aadimedicharla444@gmail.com",
        "subject": "Top 6 AI New's",
        "emailType": "text",
        "message": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1248,
        96
      ],
      "id": "a2c53eed-5034-4450-b347-9bdba2819613",
      "name": "Send a message",
      "webhookId": "bda6ddb9-a56b-48fa-adb0-0b8879136aac",
      "credentials": {
        "gmailOAuth2": {
          "id": "Z7M2rmfdOKslxcul",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.normaltech.ai/feed",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        224,
        192
      ],
      "id": "04d164f0-8cd2-4ea0-8c1d-c59453d6d05b",
      "name": "RSS Read1"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        464,
        96
      ],
      "id": "16ca8ea6-4c9a-4077-b4f1-60fb17672b38",
      "name": "Merge"
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "google_events"
            },
            {
              "name": "q",
              "value": "AI Tech Events in India"
            },
            {
              "name": "api_key",
              "value": "cb31c05e460d4c548c167008e6f6488bd960f29d623a4104d52526e5e01d4798"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        368
      ],
      "id": "6b703c71-3fdc-49bc-ba9c-255fd2733dbd",
      "name": "HTTP Request"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "34faa644-6077-4547-b7a0-95132e823525",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-04T08:15:00.632Z",
      "createdAt": "2026-03-04T08:15:00.632Z",
      "role": "workflow:owner",
      "workflowId": "1MZpvujHQcO5nRKD",
      "projectId": "DaNoFjrZx0AVtr9d"
    }
  ],
  "activeVersion": null,
  "tags": []
}