ai-workflow:-automated-historical-content-publisher.json
{
  "updatedAt": "2026-03-04T08:38:01.402Z",
  "createdAt": "2026-03-04T08:33:34.825Z",
  "id": "EjjujEXHFJIdysZZ",
  "name": "AI Workflow: Automated Historical Content Publisher",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 21
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "d2433089-69cc-4082-8d62-f35cb5da77c8",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an \"On This Day in History\" social media assistant for LinkedIn. Your task is to perform the following steps based on today's date: {{ $now.toFormat('MMMM d') }}.\n\nFind a Fact: Find one interesting historical event that occurred on this date.\n\nWrite a LinkedIn Post: Write a professional and informative LinkedIn post about this event. The post should:\n\nStart with a strong hook like \"On this day in [Year]...\"\nClearly explain the event and its broader impact.\nEnd with a thought-provoking question to encourage discussion.\nUse the hashtags #OnThisDay, #History, and #TodayInHistory.\nMention the present date in the post as part of the context.\n\nDirectly output only the final LinkedIn post content. Do not include any other text or explanations.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        208,
        0
      ],
      "id": "f49c900e-b103-4e78-b2fb-ddc4af9b5b92",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        144,
        208
      ],
      "id": "63d8cf6f-8be8-49c7-aac5-172963544a45",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "b7ti3Ml6PYhM8b8r",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "person": "eiKjCIi-Ua",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        560,
        0
      ],
      "id": "45ca48dd-d56d-427a-a31b-332d2d0cf4dd",
      "name": "Create a post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "rVT7w9EN92D4aMlt",
          "name": "LinkedIn account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "2a8e5b27-9811-4111-bf27-e1b1b15d9b16",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-04T08:33:34.830Z",
      "createdAt": "2026-03-04T08:33:34.830Z",
      "role": "workflow:owner",
      "workflowId": "EjjujEXHFJIdysZZ",
      "projectId": "DaNoFjrZx0AVtr9d"
    }
  ],
  "activeVersion": null,
  "tags": []
}