ai-workflow:-automated-song-generation.json
{"updatedAt":"2026-03-07T10:00:30.651Z","createdAt":"2026-03-07T09:24:29.520Z","id":"LYLyZXXhzlrA1Qvv","name":"AI Workflow: Automated Song Generation","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[1632,304],"id":"8890356a-8bb9-4934-93a7-1c42ab92e229","name":"When chat message received","webhookId":"904330fe-c98c-4f41-922f-b0c7034ce46b"},{"parameters":{"promptType":"define","text":"={{ $('When chat message received').item.json.chatInput }}","messages":{"messageValues":[{"message":"You are a Lyrics Generation Agent.\n\nYour task is to take the user's request and generate complete song lyrics based on their input.\n\nInstructions:\n- Generate full song lyrics with verses, chorus, and bridge as appropriate\n- Keep the lyrics relevant to the user's theme/topic\n- Make the lyrics creative and engaging\n- Output only the lyrics text, nothing else\n- No extra formatting, just plain lyrics\n\nExample Input:\n\"Create a rap song about crypto in a fast style\"\n\nExample Output:\n[Verse 1]\nCrypto rising, numbers flying high\nBlockchain dreams reaching for the sky\nBitcoin pumping, altcoins in the race\nDigital money taking center stage\n\n[Chorus]\nTo the moon we go, never looking back\nCrypto life, staying on track\nHODL strong through the ups and downs\nDigital gold, wearing the crown\n\n[Verse 2]\nSmart contracts running through the night\nDeFi protocols burning bright\nNFTs and tokens everywhere\nCrypto future beyond compare"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1824,304],"id":"a18e81e6-d8e9-459f-a0cb-04722f53d4b3","name":"Generate Lyrics"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1824,544],"id":"2819782d-a2b4-46d6-b065-ac35a806c5ea","name":"Google Gemini Chat Model"},{"parameters":{"method":"POST","url":"https://api.sunoapi.org/api/v1/generate","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"Bearer 79e1b9c17f97e37f577f2a5edb963e76"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"={{ $json.text }}"},{"name":"style","value":"Classical"},{"name":"title","value":"Peaceful Piano Meditation"},{"name":"customMode","value":"true"},{"name":"model","value":"V3_5"},{"name":"negativeTags","value":"Heavy Metal, Upbeat Drums"},{"name":"callBackUrl","value":"https://api.example.com/callback"},{"name":"Instrumental","value":"false"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2160,304],"id":"dd1dea80-f0f9-4b2d-9fdc-e01d649ff8dc","name":"Create Audio Task"},{"parameters":{"url":"={{ $json.data.response.sunoData[0].audioUrl }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2752,304],"id":"bd7856cc-fe08-44ee-af1c-16282e091468","name":"Download Audio"},{"parameters":{"amount":4,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2384,304],"id":"21d1e2bb-09cd-4f3b-8092-6fe7f3b90783","name":"Wait","webhookId":"c748ecb6-e669-499e-a23b-f3f39400b997"},{"parameters":{"url":"https://api.sunoapi.org/api/v1/generate/record-info","sendQuery":true,"queryParameters":{"parameters":[{"name":"taskId","value":"={{ $json.data.taskId }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"Bearer 79e1b9c17f97e37f577f2a5edb963e76"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2560,304],"id":"c1ece101-e98e-4764-8037-ba302f45600c","name":"generate-audio"}],"connections":{"When chat message received":{"main":[[{"node":"Generate Lyrics","type":"main","index":0}]]},"Generate Lyrics":{"main":[[{"node":"Create Audio Task","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Generate Lyrics","type":"ai_languageModel","index":0}]]},"Create Audio Task":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"generate-audio","type":"main","index":0}]]},"generate-audio":{"main":[[{"node":"Download Audio","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"versionId":"d10e11f5-e3fe-4f61-b409-c2debd525944","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-07T09:24:29.524Z","createdAt":"2026-03-07T09:24:29.524Z","role":"workflow:owner","workflowId":"LYLyZXXhzlrA1Qvv","projectId":"DaNoFjrZx0AVtr9d"}],"activeVersion":null,"tags":[]}