ai-workflow:-automated-ai-powered-weather-based-daily-planner.json
{"updatedAt":"2026-03-04T08:56:08.140Z","createdAt":"2026-03-04T08:43:44.043Z","id":"8ZBkbcHCoy0E5os2","name":"AI Workflow: Automated AI-Powered Weather-Based Daily Planner","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0],"id":"cb1fda24-3e26-4e6f-a0dc-df1a9517ef17","name":"Schedule Trigger"},{"parameters":{"url":"https://api.openweathermap.org/data/2.5/weather","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"Bhimavaram"},{"name":"appid","value":"237fef221e4d0be6a7f254941e59fe0d"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[208,0],"id":"49777e55-5b19-45a4-bbbf-45dcc913f1a8","name":"HTTP Request"},{"parameters":{"promptType":"define","text":"=You are an AI daily assistant creating a fun and personalized weather-based plan. Based on this weather data:\n\nTemperature: {{$json.main.temp}}°C\nWeather: {{$json.weather[0].description}}\nHumidity: {{$json.main.humidity}}%\n\nStart with a short, friendly greeting about today’s weather (e.g., “Good morning! Here’s your weather-ready plan for today!”).\nThen create a concise plan with these sections:\n\nOUTFIT SUGGESTION\nRecommend one outfit suitable for today’s weather.\nOUTDOOR ACTIVITY\nSuggest one fun outdoor activity, considering the temperature, weather, and humidity.\nWEATHER REMINDER\nInclude a practical, friendly tip (umbrella, sunscreen, jacket, or hydration reminder).\n\nFormatting rules:\nKeep it under 100 words.\nUse a friendly, engaging, and conversational tone.\nDo not use markdown formatting, bold, or special symbols.\nSeparate sections with line breaks and section titles in uppercase.\nSign off with: “Your Daily Weather Assistant”","batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[416,0],"id":"857a7adf-b569-4f98-be97-d7a0898ca07f","name":"Basic LLM Chain"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[352,208],"id":"48e236d0-c69f-4bcd-9429-cbf68ad812a9","name":"Google Gemini Chat Model"},{"parameters":{"sendTo":"aadimedicharla444@gmail.com","subject":"Today's Weather Report","emailType":"text","message":"={{ $json.text }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[768,0],"id":"09fd3721-e325-4503-8080-f4c453a78575","name":"Send a message","webhookId":"adb361d9-f238-4eea-b6d1-10aff81cf9b3"}],"connections":{"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Send a message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"versionId":"1a89e139-e79f-4112-9808-672ee4794ebd","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-04T08:43:44.045Z","createdAt":"2026-03-04T08:43:44.045Z","role":"workflow:owner","workflowId":"8ZBkbcHCoy0E5os2","projectId":"DaNoFjrZx0AVtr9d"}],"activeVersion":null,"tags":[]}