auto-upload-n8n-projects-to-github.json
{"updatedAt":"2026-03-09T04:59:24.896Z","createdAt":"2026-03-08T16:48:03.789Z","id":"QPALNM7NlfOeSRT4","name":"Auto Upload n8n Projects to GitHub","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,-32],"id":"70174322-17e1-4391-8a78-abcabd6e2c89","name":"Schedule Trigger"},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"aadi0704","mode":"list","cachedResultName":"aadi0704","cachedResultUrl":"https://github.com/aadi0704"},"repository":{"__rl":true,"value":"n8n-automation-projects","mode":"list","cachedResultName":"n8n-automation-projects","cachedResultUrl":"https://github.com/aadi0704/n8n-automation-projects"},"filePath":"/"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[224,-32],"id":"99133c30-b183-4bc7-aafd-a3d185125efd","name":"List files","webhookId":"dc51d47d-a14e-4565-9997-8b92270a1c23"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[448,-32],"id":"0a4ef4b0-9449-419a-a47f-37d509fafae4","name":"Aggregate"},{"parameters":{"filters":{"excludePinnedData":true},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[672,-32],"id":"cc0715d3-0cf9-4785-ba35-3657c1bdd2ac","name":"Get many workflows"},{"parameters":{"operation":"toJson","mode":"each","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1088,-32],"id":"7e81334c-6600-4b0f-a192-7f10a875d491","name":"Convert to File"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[1312,-32],"id":"627d2d1d-c617-449c-877c-b4b3ec9dc8a8","name":"Extract from File"},{"parameters":{"assignments":{"assignments":[{"id":"f2c19810-d820-4e07-a902-9af4a6e57acb","name":"commitDate","value":"={{ $now.format('dd-MM-yyyy/H:mm') }}","type":"string"},{"id":"127f399e-7b7b-4b6a-bb4c-8ab03a282ee0","name":"fileName","value":"={{ $('Get many workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}.json","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1520,-32],"id":"2eaaf50e-89d8-4a38-8d80-0f97535c485d","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"ac793d7a-70d7-4271-a1e4-327416a813fd","leftValue":"={{ $('Aggregate').item.json.name}}","rightValue":"={{ $('Get many workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}.json","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1712,-32],"id":"ed43d8af-ac74-493e-b2b9-a34824a605fb","name":"If"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"aadi0704","mode":"list","cachedResultName":"aadi0704","cachedResultUrl":"https://github.com/aadi0704"},"repository":{"__rl":true,"value":"n8n-automation-projects","mode":"list","cachedResultName":"n8n-automation-projects","cachedResultUrl":"https://github.com/aadi0704/n8n-automation-projects"},"filePath":"={{$('Get many workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase()}}.json","fileContent":"={{ $('Extract from File').item.json.data }}","commitMessage":"=backup-{{ $('Edit Fields').item.json.commitDate }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1920,-128],"id":"c5992b49-b9ab-4d03-ae60-6e0c38bcebe6","name":"Edit a file","webhookId":"bb658318-677d-4074-9769-e2b383c06073"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"aadi0704","mode":"list","cachedResultName":"aadi0704","cachedResultUrl":"https://github.com/aadi0704"},"repository":{"__rl":true,"value":"n8n-automation-projects","mode":"list","cachedResultName":"n8n-automation-projects","cachedResultUrl":"https://github.com/aadi0704/n8n-automation-projects"},"filePath":"={{ $('Get many workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase()}}.json","fileContent":"={{ $('Extract from File').item.json.data }}","commitMessage":"=backup-{{ $node['Edit Fields'].json.commitDate }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1920,64],"id":"9f43b4c5-29db-4976-9433-f8a8fe5320e6","name":"Create a file","webhookId":"be8ae148-f59e-43b8-9dde-33bbd3e5c55c"},{"parameters":{"jsCode":"for (const item of items) {\n\n  if (item.json.nodes) {\n    for (const node of item.json.nodes) {\n\n      if (node.parameters) {\n        if (node.parameters.apiKey) {\n          node.parameters.apiKey = \"YOUR_API_KEY\"\n        }\n\n        if (node.parameters.token) {\n          node.parameters.token = \"YOUR_TOKEN\"\n        }\n      }\n\n      delete node.credentials\n\n    }\n  }\n\n}\n\nreturn items"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[880,-32],"id":"427488b6-4f4b-4683-8503-0cf646db66d8","name":"Code in JavaScript"}],"connections":{"Schedule Trigger":{"main":[[{"node":"List files","type":"main","index":0}]]},"List files":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Get many workflows":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit a file","type":"main","index":0}],[{"node":"Create a file","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Convert to File","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"versionId":"ac48cd13-c741-457b-ab3e-5c7cdbc671fd","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-08T16:48:03.792Z","createdAt":"2026-03-08T16:48:03.792Z","role":"workflow:owner","workflowId":"QPALNM7NlfOeSRT4","projectId":"DaNoFjrZx0AVtr9d"}],"activeVersion":null,"tags":[]}