automated-ai-image-post-generator-webhook.json
{"updatedAt":"2026-03-08T08:32:33.000Z","createdAt":"2026-03-08T08:30:35.735Z","id":"Zr1Blkcypfg4EPCQ","name":"Automated AI Image Post Generator webhook","active":false,"isArchived":true,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"10xP_Y5rbb3lEIz4Jum87qmdTed1gV6HPBhg1nVs-fhU","mode":"list","cachedResultName":"Automated AI Image Post Generator","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10xP_Y5rbb3lEIz4Jum87qmdTed1gV6HPBhg1nVs-fhU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10xP_Y5rbb3lEIz4Jum87qmdTed1gV6HPBhg1nVs-fhU/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[0,0],"id":"453d2d4d-9a0f-42a4-afd8-8d5f1280273c","name":"Google Sheets Trigger","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"wNPsGwl49tr3hfiT","name":"Google Sheets Trigger account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[144,208],"id":"93f949ab-3fad-41c3-820d-39756674829a","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"b7ti3Ml6PYhM8b8r","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[528,240],"id":"ba76e856-b2ef-4044-b083-cf97597b68ce","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"b7ti3Ml6PYhM8b8r","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[896,256],"id":"672e19cb-d980-4c14-a8d7-75bf2ba86679","name":"Google Gemini Chat Model2","credentials":{"googlePalmApi":{"id":"b7ti3Ml6PYhM8b8r","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"promptType":"define","text":"=summarize this article :{{ $json['news article'] }}","batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[208,0],"id":"bcbff2e2-e5dc-4b7a-9ddf-f7c0645319e1","name":"Summarize Article"},{"parameters":{"promptType":"define","text":"=Assume the role of an Industry expert and create a ready-to-post LinkedIn content discussing key points from the provided news article relevant to artificial intelligence. The post should provide insightful analysis, connect with current industry trends, and encourage professional engagement. Highlight notable implications for the industry and include a professional call to action.\nMake the post informative, structured, under 3000 characters, and ready to copy-paste directly to LinkedIn without any modifications.\nArticle summary: {{ $('Google Sheets Trigger').item.json['news article'] }}","batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[560,0],"id":"e3368a1f-5197-471a-a4f1-4e23f515db02","name":"Create Linkedin Post"},{"parameters":{"promptType":"define","text":"=Create a concise image prompt (max 50 words) for a LinkedIn post visual based on this AI article summary. Focus on modern, professional imagery with technology/business themes. Use clear descriptive terms suitable for AI image generation. {{ $json.text }}","batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[912,0],"id":"7c5354d1-5f4f-4acb-8a8c-3d901ca8a40a","name":"Generate Image Post"},{"parameters":{"method":"POST","url":"https://api.freepik.com/v1/ai/mystic","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-freepik-api-key","value":"FPSXe6f5d2b1cbc1d008534fe689704fdfd5"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"={{ $json.text }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1264,0],"id":"7b419765-b565-4757-bafa-f5449296d6f9","name":"HTTP Request"},{"parameters":{"amount":30,"path":"05393720-cade-4e73-a8ea-fb7e923a0c91"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1472,0],"id":"3458fad1-c9b6-449e-8ee4-669e48a5a527","name":"Wait for Image","webhookId":"05393720-cade-4e73-a8ea-fb7e923a0c91"},{"parameters":{"url":"=https://api.freepik.com/v1/ai/mystic/{{ $json.data.task_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-freepik-api-key","value":"FPSXe6f5d2b1cbc1d008534fe689704fdfd5"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1680,0],"id":"aebbad4e-2f4c-4675-8986-3d513cedc188","name":"Check Status"},{"parameters":{"url":"={{ $json.data.generated[0] }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1888,0],"id":"a8f2de28-144b-495f-a364-bdd43b787641","name":"Download Image"},{"parameters":{"person":"eiKjCIi-Ua","text":"={{ $('Create Linkedin Post').item.json.text }}","shareMediaCategory":"IMAGE","additionalFields":{}},"type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[2096,0],"id":"6280dbb6-44a8-40f5-8530-a0c63a6002f5","name":"Post to Linkedin","credentials":{"linkedInOAuth2Api":{"id":"rVT7w9EN92D4aMlt","name":"LinkedIn account"}}}],"connections":{"Google Sheets Trigger":{"main":[[{"node":"Summarize Article","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Summarize Article","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Create Linkedin Post","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"Generate Image Post","type":"ai_languageModel","index":0}]]},"Summarize Article":{"main":[[{"node":"Create Linkedin Post","type":"main","index":0}]]},"Create Linkedin Post":{"main":[[{"node":"Generate Image Post","type":"main","index":0}]]},"Generate Image Post":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Wait for Image","type":"main","index":0}]]},"Wait for Image":{"main":[[{"node":"Check Status","type":"main","index":0}]]},"Check Status":{"main":[[{"node":"Download Image","type":"main","index":0}]]},"Download Image":{"main":[[{"node":"Post to Linkedin","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8dcdf2e4-8f55-46b7-a5c8-0e4b41261f17","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-08T08:30:35.750Z","createdAt":"2026-03-08T08:30:35.750Z","role":"workflow:owner","workflowId":"Zr1Blkcypfg4EPCQ","projectId":"DaNoFjrZx0AVtr9d"}],"activeVersion":null,"tags":[]}