linkedin-article-automation-webhook(part2).json
{"updatedAt":"2026-03-08T08:44:45.441Z","createdAt":"2026-03-08T08:32:04.306Z","id":"MWOlhfP20qzfjzNH","name":"linkedin-article-automation webhook(part2)","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"= System: \"You are a social media strategist with expertise in content adaptation\"\n\n  User: \"Analyze this article and create a summary that:\n  1. Captures the 3 most important insights\n  2. Includes any actionable advice or tips\n  3. Maintains the original tone and perspective\n  4. Highlights implications for the target audience\n  5. Stays under 200 words for social media adaptation\n  \n  Article: {{ $json.body.text }}","batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[224,0],"id":"ca0b5446-9b2c-4013-bf3a-4018c40ae754","name":"Basic LLM Chain"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[304,224],"id":"d85cc920-a1b6-440b-9c7f-1e66b54b492c","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"b7ti3Ml6PYhM8b8r","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"promptType":"define","text":"=Transform this learning summary into an engaging LinkedIn post: {{ $json.text }}\n\nCreate a post that:\n- Starts with a hook about today's learning achievement\n- Shares 2-3 specific insights or skills gained\n- Includes a reflection on how this knowledge applies to real-world scenarios\n- Uses relevant hashtags: #AIBootcamp #LearningJourney #GenerativeAI #TechSkills #100DaysOfCode\n- Ends with a question to engage the community\n- Length: 200-300 words\n- Professional yet authentic tone\n- Include relevant emojis for visual appeal\n\nFormat with line breaks for readability. Start directly with the post content.","batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[576,0],"id":"8ee19d42-b4c0-4713-a532-209c2ea94366","name":"Basic LLM Chain1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[656,224],"id":"0f5243f5-28d2-4e63-b4ac-89f777de4d9e","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"b7ti3Ml6PYhM8b8r","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"person":"eiKjCIi-Ua","text":"={{ $json.text }}","additionalFields":{}},"type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[928,0],"id":"657a02a3-7ec4-4a16-9553-f118f30091b7","name":"Create a post","credentials":{"linkedInOAuth2Api":{"id":"rVT7w9EN92D4aMlt","name":"LinkedIn account"}}},{"parameters":{"httpMethod":"POST","path":"609fa12f-40f7-4ee3-a709-13f037699b0d","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[16,0],"id":"0f94c7c6-db15-4c96-96b3-1d70690012d1","name":"Webhook","webhookId":"609fa12f-40f7-4ee3-a709-13f037699b0d"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"urn\": \"={{$json.id}}\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1136,0],"id":"ba9b75a8-9e21-4d20-9b22-300e14f08d85","name":"Respond to Webhook"}],"connections":{"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Basic LLM Chain1","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0}]]},"Basic LLM Chain1":{"main":[[{"node":"Create a post","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Create a post":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"09b728eb-2cec-4717-a0d3-7c11cf28ce68","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-08T08:32:04.308Z","createdAt":"2026-03-08T08:32:04.308Z","role":"workflow:owner","workflowId":"MWOlhfP20qzfjzNH","projectId":"DaNoFjrZx0AVtr9d"}],"activeVersion":null,"tags":[]}